@use "scss-reset/reset";

:root {
  //colors
  --primary-bg-color: #0f0f11;
  --primary-fg-color: white;
  --primary-component-color: #1b1e21;
  --component-box-shadow: 0px 1px 0px rgba(161, 161, 161, 0.25),
    inset 0px 0px 0px 1px #000000, inset 0px 6px 12px rgba(0, 0, 0, 0.25),
    inset 0px 1px 0px 1px rgba(0, 0, 0, 0.25);

  --secondary-component-shadow: -2px 0px 2px rgba(0, 0, 0, 0.2),
    1px 0px 0px #000000, inset 0px 0px 0px 1px rgba(95, 95, 95, 0.18),
    inset 0px 1px 0px rgba(95, 95, 95, 0.5);

  --secondary-component-shadow-active: -2px 0px 2px rgba(0, 0, 0, 0.2),
    1px 0px 0px #000000, inset 0px 0px 0px 1px rgba(95, 95, 95, 0.18),
    inset 0px 1px 0px rgba(95, 95, 95, 0.5);
  --secondary-bg-color: linear-gradient(
    180deg,
    #2a3036 0%,
    #171b21 90%,
    #13161a 100%
  );
  --secondary-bg-color-rv: linear-gradient(
    180deg,
    #13161a 0%,
    #171b21 10%,
    #2a3036 100%
  );
  // container
  --max-container-width: 1000px;
  --toggle-box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 0px #000000,
    inset 0px 0px 0px 1px rgba(95, 95, 95, 0.18),
    inset 0px 1px 0px rgba(95, 95, 95, 0.5);
}
// optional resets
html,
body {
  min-height: 100%;
}
a {
  text-decoration: none;
  color: var(--primary-fg-color);
}

// main

body {
  font-family: var(--font-primary);
  background: var(--primary-bg-color);
  color: var(--primary-fg-color);
}

main, .main {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background: radial-gradient(50% 50% at 50% 50%, rgba(40, 40, 43, 0.1) 0%, rgba(19, 19, 21, 0.3) 40%, rgba(7, 7, 7, 0.5) 100%);
  @media screen and (max-width: 1020px) {
    padding: 0 20px;
  }

  .noise {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -99;
    width: 100%;
    height: calc(200px + 100vh);
    opacity: 0.15;
    pointer-events: none;
    transform: translateY(0px);
    filter: contrast(120%) brightness(120%);
  }
}
.container {
  max-width: var(--max-container-width);
  margin: 0 auto;
}
